
.container{
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.page-top{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-image{
    width: 35vw;
    align-self: center;
}
.description{
  margin-bottom: 20px;
}

.card-button{
  align-items: flex-start;
  align-items: center;
  display: flex;
  border: solid 2px black;
  border-radius: 10px;
  padding: 5px;
  margin-top: 20px;
}
.card-button:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

.button-icon{
  width: 2vw;
  margin-right: 10px;
  margin-left: 10px;
}

.footer-title{
  color: white;
}

p, a, h1 {
  font-family: 'Raleway';
  color: inherit;
}

body{
  margin: 0;
  background-color: #f0f0f0;

}

.img-container {
  position: relative;
  width: 15vw;
  margin: 5px;
}

.image {
  opacity: 1;
  display: block;
  width: 15vw;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 15vw;
  justify-content: center;
}

.img-container:hover .image {
  opacity: 0.3;
}

.img-container:hover .middle {
  opacity: 1;
}

.name {
  color: black;
  font-size: 16px;
  padding: 16px 32px;
  font-family: 'Raleway';
  text-align: center;

}

.role {
  color: black;
  font-size: 16px;
  padding: 16px 32px;
  font-family: 'Raleway';
  font-weight: bold;
  text-align: center;
}

#teamMembers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.team {
  margin-top: 50px;
  margin-bottom: 50px;
}

.team-title{
  font-family: 'Raleway';
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
