
.container{
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.page{
  margin-top: 30px;
}

.page-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1F3541;
}

.title{
  font-size: 80px;
  color: #FFFFFF;
  padding: 50px;
  text-align: center;
}

.top-image{
    width: 35vw;
    align-self: center;
}
.description{
  margin-bottom: 20px;
  color: #FFFFFF;
}

.card-button{
  align-items: flex-start;
  align-items: center;
  display: flex;
  border: solid 2px #1F3541;
  border-radius: 10px;
  padding: 5px;
  margin-top: 20px;
}
.card-button:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

.button-icon{
  width: 2vw;
  margin-right: 10px;
  margin-left: 10px;
}

.footer-title{
  color: white;
  font-size: 24px;
}

p, a, h1, h2 {
  font-family: 'Montserrat';
  color: inherit;
}

body{
  margin: 0;
  background-color: #F6F6F6;

}

.img-container {
  position: relative;
  width: 15vw;
  margin: 5px;
}

.image {
  opacity: 1;
  display: block;
  width: 15vw;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 15vw;
  justify-content: center;
}

.img-container:hover .image {
  opacity: 0.3;
}

.img-container:hover .middle {
  opacity: 1;
}

.name {
  color: #1F3541;
  font-size: 16px;
  padding: 16px 32px;
  font-family: 'Montserrat';
  text-align: center;

}

.role {
  color: #1F3541;
  font-size: 16px;
  padding: 16px 32px;
  font-family: 'Montserrat';
  font-weight: bold;
  text-align: center;
}

#teamMembers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.team {
  margin-top: 50px;
  margin-bottom: 50px;
}

.team-title{
  font-family: 'Montserrat';
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1F3541;
  color: white;
  text-align: center;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #1F3541;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  /* display: block; */
  color: #f6f6f6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-links{
  float: right;
}

.text-part{
  width: 45%;
  font-size: 20px;
}

.img-part{
  width: 35vw
}

.img-mobile-part{
  width: 10vw
}

.side-by-side{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons {
  margin-top: 50px;
}